* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    color : white;
    background-color: rgb(139, 139, 139)
}

.container {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 90%;
    min-height: 500px;
    margin: 0 auto;
    background-color: black;
    border-radius: 0px 0px 50px 50px;
}

.logo{
    background-color: rgb(100, 190, 0);
    padding: 30px 50px;
    border-radius:0px 30% 0px 0px;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 28px;
}

.temp {
    font-size: 50px;
}

.last-check {
    font-size: 14px;
}

.apparent-temp, .humidity {
    font-size: 36px;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.cloud-cover{
    font-size: 36px;
    color: #f0fbff;
}

.rain {
    font-size: 36px;
    color: #2d4ad6;
}

.cloud-cover-text {
    font-size: 14px;
}
.day {
    font-size: 36px;
    background-image: linear-gradient(90deg, rgb(240, 188, 0) 0%, rgb(250, 150, 0) 100%);
    background-clip: text;
    color: transparent;
    display: inline-block 
}
.night {
    font-size: 36px;
    background-image: linear-gradient(90deg, rgb(106, 0, 255) 0%, rgb(162, 0, 250) 100%);
    background-clip: text;
    color: transparent;
    display: inline-block
}
